---
import BaseLayout from "../layouts/BaseLayout.astro"
import ShoeForm from "../components/ShoeForm.astro"
---

<BaseLayout title="RunWise | Intelligent Running Shoe Recommender">
	<section class="page-header">
		<h1>RunWise</h1>
		<p>What kind of running shoe would you like today?</p>
	</section>
	<ShoeForm />
</BaseLayout>
